#footer {
	border-top: 1px solid #868e96;
}

.navbar-brand {
	font-family: 'Lato', sans-serif;
}

.section {
	border-bottom: 1px solid #868e96;
}

.side-borders {
	border-right: 1px solid #868e96;
	border-left: 1px solid #868e96;
}