<!doctype html>	
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Lato Font -->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		
		<!-- Custom CSS (NEED TO CHANGE BEFORE PUBLISH)-->
		<link rel = "stylesheet" type = "text/css" href = "C:\Users\admin\Documents\Websites\grmspace\css\custom.css">
	
		<title>Card Template</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-white section" id="headNav">
			<a class="navbar-brand" href="#"><h5>GRM Space | Filipino</h5></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav text-right">
					<li class="nav-item">
						<a class="nav-link" href="https://www.grmspace.com/filipino">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.grmspace.com/filipino/g-drive">Google Drive</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.grmspace.com/filipino/quizlets">Quizlets</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="https://www.grmspace.com/filipino/write-ups">Write-Ups</a>
					</li>
					<li class="nav-item disabled">
						<a class="nav-link" href="https://www.grmspace.com/filipino/webapps">Web Apps</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class = "container">
			<div class="jumbotron mb-0 jumbotron-fluid text-center section" style="border: 1px solid rgba(0, 0, 0, 0.125);">
				<div class="container">
					<h1>Verb Conjugations</h1>
				</div>
			</div>
			<div class="card" id="nameCard">
				<div class="card-header" id="nameHeader">
					<h5 class="mb-0">
						<button class="btn btn-link pl-0 ml-0" data-toggle="collapse" data-target="#name" aria-expanded="false" aria-controls="nameHeader">
							<h3>Name</h3>
						</button>
					</h5>
				</div>
				<div id="name" class="collapse" aria-labelledby="nameHeader">
					<div class="card-body">
					</div>
					<div class="text-right">
						<small><em><a href="#" id="closeName" data-toggle="collapse" data-target="#name" aria-expanded="false" aria-controls="closeName">Close 'Name'</a></em></small>
					</div>
				</div>
			</div>
			<!-- END OF CONTAINER BODY-->	
		</div>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>